<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Medication Data</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
 <style type="text/css">
 table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
 
tr td:hover { background: #666; color: #FFF; }  
/* Hover cell effect! */

.button1{
width:100px;
height:33px;
border:none;
outline:none;
color:#fff;
font-size:14px;
text-shadow:0 1px rgba(0,0,0,0.4);
background-color:#343a3c75;
font-weight:700;
background-repeat:no-repeat;
background-position:200px
}
.button1:hover{
background-color:#a8a050;
cursor:pointer
}
#form input[type="text"] {
    border: 1px solid #6f6f6f;
    font-size: 14px;
    padding: 5px;
    width: 200px;
}

 </style>
</head>
<body>
    {{{body}}}
</body>
</html>